{% extends 'core/base.html' %}

{% block content %}
    <h1 class="text-3xl">ABOUT</h1>

    <div class="mt-6 space-y-6">
        <p>
            Carpcon PMS is a robust and user-friendly Project Management System designed to help individuals, teams, and businesses effectively organize and manage their projects. Built using the Django framework with a MySQL database backend, Carpcon PMS delivers a seamless experience for managing complex projects, tasks, and deadlines in a streamlined, intuitive interface.                </p>

        <p>
            With its simple and clean design, users can easily create new projects, assign tasks, track progress, upload important documents, and keep detailed notes. The platform fosters productivity and collaboration, ensuring that all users stay on top of their projects with minimal effort.                </p>
    </div>
{% endblock %}